//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////

$scg-purple:	#4B327C;
$scg-orange:	#A75A32;
$scg-green:		#2F6653;
$scg-citrus:	#C0BB4C;

.purple { color: $scg-purple }
.orange { color: $scg-orange }
.green 	{ color: $scg-green }
.citrus { color: $scg-citrus }

/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 
// Leave alone
$logo-margin: - ($logo-width / 2);




