//  1) OWL POPUP
//  2) VIDEO JS
//  3) ANIMATIONS
//  4) HEADER
//  5) NAV BAR

@import "material-foundation";
@include motion-ui-transitions;



//  1) OWL POPUP

.report__widget {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 340px !important;
    height: 400px !important;
    border-radius: 5px;
    margin: 0 20px 20px;
    box-shadow: 0 0 10px rgba(51, 60, 78, .1);
    z-index: 100;
    overflow: hidden;
    background: #fff url("../images/ProfessorPlum_FINAL-RGBweb.png") bottom center no-repeat !important;
}

/*
.report__widget h2 {
    color: #65c6c3;
}
.report__widget h2,
.report__widget h3 {
    font-size: 18px;
    font-family: "proxima-nova-semibold";
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
}
.report__widget h3 {
    color: #474B59;
    padding-bottom: 20px;
}
*/
.report__widget-close-link {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #F0F3F5;
    font-size: 10px;
}
.report__widget-inner {
    padding: 20px;
    width: 100%;
}

//  2) VIDEO JS

.videojs-background-wrap {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -998;
}

// 3) ANIMATIONS

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.8s ease;
}
.tabs {
    opacity: 0.2;
    margin-bottom: 0;
}

// 4) NAVBAR

#nav_menu{
    .div {
        padding-top:2em;
        padding-bottom:0em;
        background-color:#212121;
    }

}

/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);
/* Small Navigation */
.logo-small {
    float: right;
}
.title-bar {
    padding: 0 0.5rem;
}
.menu-icon,
.title-bar-title {
    position: relative;
    top: 10px;
}




/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
    // Right part
    .top-bar-right {
        width: 50%;
        padding-left: $logo-padding;
        ul {
            float: left;
        }
    }
    // Left part
    .top-bar-left {
        width: 50%;
        padding-right: $logo-padding;
        ul {
            float: right;
        }
    }

    .logo-wrapper {
        position: relative;
        .logo {
            width: $logo-width;
            height: 92px;
            position: absolute;
            left: 50%;
            right: 50%;
            top: -6px;
            margin-left: $logo-margin;
        }
    }

}

// 4) TOP SECTION
/*  MAIN BOX SECTION */
#main_content_box {
    height: 50em;
    #main_left_box {
        transition:background 0.5s ease;
        background: linear-gradient( rgba(167, 90, 50, 1), rgba(0, 0, 0, 1) );
        &:hover{
            background: linear-gradient( rgba(167, 90, 50, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 5em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #A75A32;
            margin-bottom: 20px;
        }
        .blurb-left {
            margin-bottom: 30px;
        }
    }
    #main_right_box {
        transition:background 0.5s ease;
        background: linear-gradient( rgba(75, 50, 124, 1), rgba(0, 0, 0, 1) );
        &:hover{
            background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 5em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #4B327C;
            margin-bottom: 20px;
        }
        .blurb-right {
            margin-bottom: 30px;
        }
    }
}

/* BLURB SECTION AT TOP OF HOME PAGE */
#blurb_section {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    height: 28em;
    padding-top: 7em;
    h2 {
        margin-top: 7em;
        color: white;
    }
}

/* INTEGRATION MODEL SECTION */
#integration_model_section {
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(167, 90, 50, 0.8),
        rgba(0, 0, 0, 0.45)
      ),
      /* bottom, image */
      url('../images/swirl_pattern.png') no-repeat center center;
      background-repeat: repeat-x;

    h2 {
        margin-top: 2em;
        padding-bottom: 2em;
        color: white;
        text-align: center;
    }

}
#our_clients_section {
    padding-top: 2em;
    margin-top: 0;
    margin-bottom: 0em;
    padding-bottom: 10em;
//    background: linear-gradient( rgba(167, 90, 50, 0.5), rgba(167, 90, 50, 0.9)  );
    background-color: $scg-green;
    height: 23em;
    h2 {
        color: white;
        padding-bottom: 1em;
    }

    .case_study_box {
        /*Some basic styling*/
        border: 1px solid #333;
        width: 60px;
        height: 60px;
        padding: 30px;
        text-align: center;
        margin: 10px auto;
        background: #29a7d3;
        color: white;
        border-radius: 50%;
        font-family: helvetica;
        p {
            color: white;
            font-weight: bold;
        }
    }
}



#case_study_section {
    z-index: 1;
    padding-top: 2em;
    margin-bottom: 0;

    h2 {
        color: white;
        padding-bottom: 1em;
    }
    background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    height: 25em;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
        }


    }


}

#latest_posts_section {
    h2 {
        color: white;
        padding-bottom: 1em;
    }
    background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
        }
    }
    .banner {
      background: url('http://lorempixel.com/g/1000/1000/') no-repeat center center;
      background-size:contain;
      background-attachment: fixed;
      opacity: .8;
    }

}

#learn_more_section {
    margin-bottom: 0;
    padding-top: 10em;
    h2 {
        color: white;
        padding-bottom: 1em;
    }
    .raised-accent-button {
        background-color: $scg-citrus;
    }
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(167, 90, 50, 0.9) );
    background-color: $purple-900;
    height: 25em;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
        }
    }
}


#experimental {
    padding-top: 2em;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(167, 90, 50, 0.9) );
    background-color: $purple-900;
    height: 26em;
    $global-radius: 2px;


    h2 {
        color: white;
        padding-bottom: 1em;
    }

    .image-wrapper {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0,0,0,0.04);
      overflow: hidden;
      position: relative;
      text-align: center;
      border-radius: $global-radius;
    }

    .image-overlay-content {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0
    }

    // modifier classes

    .overlay-fade-in {

      p {
        letter-spacing: 0.15em;
       color: black;
        font-size: 28px;
        opacity: 0;
        transition: all 0.2s linear;
      }

      img {
        transition: all 0.2s linear;
      }

      .image-overlay-content {
        opacity: 0;
        background-color: rgba(0,0,0, 0.4);
        transition: all 0.4s ease-in-out;
      }

      h2 {
        color: #f2f2f2;
        font-size: 1.8rem;
        margin-top: 40%;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        background: rgba(0,0,0,0.7);
      }

      .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #FFF;
        color: #222;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000;
        position: relative;
        border: 1px solid #999;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0 0 5px #000;
        }
      }

      &:hover img {
        transform: scale(1.2);
      }

      &:hover .image-overlay-content {
        opacity: 1;
      }

      &:hover h2, p, .button {
        opacity: 1;
      }

      &:hover p {
        transition-delay: 0.1s;
      }

      &:hover .button {
        transition-delay: 0.2s;
      }
    }









    .overlay-slide-in-left {

      img {
        transition: all 0.3s ease-in-out;
      }

      .image-overlay-content {
        background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
        background-color: rgba(0,0,0,0.3);
        transform: translateX(-110%);
        opacity: 1;
        transition: all 0.4s ease-in-out;
        box-shadow: 0 0 7px #ccc;
      }

      h2{
        font-size: 1.8rem;
        background: rgba(255, 255, 255, 0.7);
        margin-top: 40%;
        color: #000;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
      }

      p {
        opacity: 0;
        color: #333;
        transition: all 0.2s linear;
      }

      .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000;
        position: relative;
        border-radius: 7px;

        &:hover {
          background-color: #444;
        }
      }

      &:hover .image-overlay-content {
        transform: translateX(0px);
      }

      &:hover img {
        transform: translateX(80%);
        transition-delay: 0.1s;
      }

      &:hover p{
        opacity: 1;
        transition-delay: 0.4s;
      }
    }


    .overlay-fade-in-new-background {

      .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        box-shadow: 0 0 1px #000;
        position: relative;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0 0 5px #fff;
          background-color: #222;
        }
      }

      p{
        font-size: 28px;
      }

      .image-overlay-content {
        opacity: 0;
          background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
        background-color: rgba(255,255,255, 0.5);
        transition: all 0.4s ease-in-out;
      }

      h2 {
        color: #000;
        font-size: 1.6rem;
        margin-top: 30%;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      p {
        opacity: 0;
        transition: all 0.2s linear;
      }

      img{
        transition: all 0.2s ease-in-out;
      }

      &:hover img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
        transform: scale(1.5);
      }

      &:hover .image-overlay-content {
        opacity: 1;
      }

      &:hover h2, p, .button {
        opacity: 1;
      }

      &:hover p {
        transition-delay: 0.1s;
      }

      &:hover .button {
        transition-delay: 0.2s;
      }
    }




}


#case_study_page {
    z-index: 1;
    padding-top: 2em;
    margin-bottom: 0;
    h2 {
        color: white;
        padding-bottom: 1em;
    }
    background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    height: 40em;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
        }
    }
}







$text-color: #fff;

// footer CSS

.footer {
  background-color: black;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}




/*
  .report__widget {
      background: #fff url("//dhchbx0tszrcx.cloudfront.net/assets/report/preview--small-6c2c00b8c9d5457ab909816ba5e31cb1.png") no-repeat scroll center bottom;
      border-radius: 5px;
      bottom: 0;
      box-shadow: 0 0 10px rgba(51, 60, 78, 0.1);
      display: none;
      height: 280px;
      margin: 0 20px 20px;
      overflow: hidden;
      position: fixed;
      right: 0;
      width: 340px;
      z-index: 100;
  }
  .report__widget h2 {
      color: #65c6c3;
  }
  .report__widget h2, .report__widget h3 {
      font-family: "proxima-nova-semibold";
      font-size: 18px;
      font-weight: 700;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
  }
  .report__widget h3 {
      color: #474b59;
      padding-bottom: 20px;
  }
  .report__widget-close-link {
      color: #f0f3f5;
      font-size: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
  }
  .report__widget-inner {
      padding: 20px;
      width: 100%;
  }








body {
  background: $grey-50;
}
header {
  background: $primary-color;
  overflow: hidden;
  h1 {
    @extend .text-display-3;
    margin-top: 90px;
  }
  h2 {
    @extend .text-display-1;
    margin-bottom: 30px;
  }
  h1, h2, .text-button {
    color: $white;
  }
  img {
    margin-bottom: -2px;
    @include show-for(large);
  }
  .icon-link {
    margin: {
      right: 5px;
      bottom: 50px;
    }
  }
}
.download {
  .floating-action-accent-button {
    float: right;
    margin-top: -30px;
  }
}
.summary {
  margin-top: 50px;
}
hr {
  border-bottom: 1px solid $black-12;
  margin: 50px auto 0;
}
h2.demo-headline {
  @extend .text-headline;
  color: $primary-color;
  margin-top: 50px
}
.tabs-content {
  background: $white;
  padding: 20px;
}
.icons {
  text-align: center;
}
.icons i {
  font-size: 48px;
  display: inline-block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  margin: 10px;
  color: $grey-500;
}
.floating-action-button {
  margin-right: 15px;
}
.switch {
  float: left;
  margin: {
    left: 10px;
    right: 30px;
  }
}
.switches .columns {
  margin-bottom: 20px;
}
.tooltips {
  padding-bottom: 50px;
}
.kitchen-sink {
  p, fieldset {
    margin-top: 1rem;
  }
  hr {
    margin-bottom: 30px;
  }
  .small-6, .medium-6 {
    background: $grey-300;
    &:nth-child(2) {
        background: $grey-400;
    }
  }
}
*/


//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////

$scg-purple:	#4B327C;
$scg-orange:	#A75A32;
$scg-green:		#2F6653;
$scg-citrus:	#C0BB4C;

.purple { color: $scg-purple }
.orange { color: $scg-orange }
.green 	{ color: $scg-green }
.citrus { color: $scg-citrus }

/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);

// TOP BAR
// Background color for the top bar
$topbar-bg-color: $scg-purple;
$topbar-bg: $topbar-bg-color;
// Set the link colors and styles for top-level nav
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white;

// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// scss-lint:disable ColorVariable, QualifyingElement, VendorPrefix

////
/// @group global
////

/// Font size attribute applied to `<html>` and `<body>`. We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$global-font-size: 100% !default;

/// Global width of your site. Used by the grid to determine row width.
/// @type Number
$global-width: rem-calc(960);

/// Default line height for all type. `$global-lineheight` is 24px while `$global-font-size` is 16px
/// @type Number
$global-lineheight: 1.5 !default;

/// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: (
  primary: $grey-900,
  secondary: $yellow-500,
  success: $green-500,
  warning: $amber-500,
  alert: $red-500,
) !default;



/// Color used for light gray UI items.
/// @type Color
$light-gray: $grey-50 !default;

/// Color used for medium gray UI items.
/// @type Color
$medium-gray: $grey-200 !default;

/// Color used for dark gray UI items.
/// @type Color
$dark-gray: $grey-500 !default;

/// Color used for black ui items.
/// @type Color
$black: $black-87 !default;

/// Color used for white ui items.
/// @type Color
$white: #fefefe !default;

/// Background color of the body.
/// @type Color
$body-background: $grey-200 !default;

/// Text color of the body.
/// @type Color
$body-font-color: $black !default;

/// Font stack of the body.
/// @type List
$body-font-family: Roboto, Noto, sans-serif !default;

/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$body-antialiased: true !default;

/// Global value used for margin on components.
/// @type Number
$global-margin: 1rem !default;

/// Global value used for padding on components.
/// @type Number
$global-padding: 1rem !default;

/// Global font weight used for light type.
/// @type Keyword | Number
$global-weight-light: 300 !default;

/// Global font weight used for normal type.
/// @type Keyword | Number
$global-weight-normal: 400 !default;

/// Global font weight used for bold type.
/// @type Keyword | Number
$global-weight-bold: 500 !default;

/// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: 2px !default;

/// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction: ltr !default;

/// Enables flexbox for components that support it.
/// @type Boolean
$global-flexbox: false !default;

@if not map-has-key($foundation-palette, primary) {
  @error 'In $foundation-palette, you must have a color named "primary".';
}

// Internal variables used for text direction
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

// Internal variables used for colors
$primary-color: map-get($foundation-palette, primary);
$secondary-color: map-get($foundation-palette, secondary);
$success-color: map-get($foundation-palette, success);
$warning-color: map-get($foundation-palette, warning);
$alert-color: map-get($foundation-palette, alert);

// Remove this in 6.3
$-zf-menu-icon-imported: false;
$-zf-flex-classes-imported: false;

@mixin foundation-global-styles {
  @include -zf-normalize;

  // These styles are applied to a <meta> tag, which is read by the Foundation JavaScript
  .foundation-mq {
    font-family: '#{-zf-bp-serialize($breakpoints)}';
  }

  html {
    font-size: $global-font-size;
    box-sizing: border-box;
  }

  // Set box-sizing globally to handle padding and border widths
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // Default body styles
  body {
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    color: $body-font-color;
    background: $body-background;

    @if ($body-antialiased) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  img {
    // Grid defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;

    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;
  }

  // Make sure textarea takes on height automatically
  textarea {
    height: auto;
    min-height: 50px;
    border-radius: $global-radius;
  }

  // Make select elements are 100% width by default
  select {
    width: 100%;
    border-radius: $global-radius;
  }

  // Styles Google Maps and MapQuest embeds properly
  // scss-lint:disable IdSelector
  #map_canvas,
  .map_canvas,
  .mqa-display {
    img,
    embed,
    object {
      max-width: none !important;
    }
  }

  // Reset <button> styles created by most browsers
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: $global-radius;
    line-height: 1;
  }

  // Internal classes to show/hide elements in JavaScript
  .is-visible {
    display: block !important;
  }

  .is-hidden {
    display: none !important;
  }
}

/// Loads normalize.css.
/// @access private
@mixin -zf-normalize {
  /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */

  html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  /**
   * Remove default margin.
   */

  body {
    margin: 0;
  }

  /* HTML5 display definitions
     ========================================================================== */

  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */

  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }

  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */

  [hidden],
  template {
    display: none;
  }

  /* Links
     ========================================================================== */

  /**
   * Remove the gray background color from active links in IE 10.
   */

  a {
    background-color: transparent;
  }

  /**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */

  a:active,
  a:hover {
    outline: 0;
  }

  /* Text-level semantics
     ========================================================================== */

  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */

  abbr[title] {
    border-bottom: 1px dotted;
  }

  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */

  b,
  strong {
    font-weight: bold;
  }

  /**
   * Address styling not present in Safari and Chrome.
   */

  dfn {
    font-style: italic;
  }

  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /**
   * Address styling not present in IE 8/9.
   */

  mark {
    background: #ff0;
    color: #000;
  }

  /**
   * Address inconsistent and variable font size in all browsers.
   */

  small {
    font-size: 80%;
  }

  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  /* Embedded content
     ========================================================================== */

  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */

  img {
    border: 0;
  }

  /**
   * Correct overflow not hidden in IE 9/10/11.
   */

  svg:not(:root) {
    overflow: hidden;
  }

  /* Grouping content
     ========================================================================== */

  /**
   * Address margin not present in IE 8/9 and Safari.
   */

  figure {
    margin: 1em 40px;
  }

  /**
   * Address differences between Firefox and other browsers.
   */

  hr {
    box-sizing: content-box;
    height: 0;
  }

  /**
   * Contain overflow in all browsers.
   */

  pre {
    overflow: auto;
  }

  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  /* Forms
     ========================================================================== */

  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */

  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
  }

  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */

  button {
    overflow: visible;
  }

  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */

  button,
  select {
    text-transform: none;
  }

  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */

  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
  }

  /**
   * Re-set default cursor for disabled elements.
   */

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  /**
   * Remove inner padding and border in Firefox 4+.
   */

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */

  input {
    line-height: normal;
  }

  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */

  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
  }

  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
   * Define consistent border, margin, and padding.
   * [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling.
   */

  /* fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  } */

  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */

  legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
  }

  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */

  textarea {
    overflow: auto;
  }

  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */

  optgroup {
    font-weight: bold;
  }

  /* Tables
     ========================================================================== */

  /**
   * Remove most spacing between table cells.
   */

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }
}
