//////////////////////////////////////////////////////////////////
// DEV
//////////////////////////////////////////////////////////////////

// Browser Sync notification on inject/reload
#__bs_notify__ { 
	top:95% !important; 
	right: 10px !important; 
	border-radius: 15px !important; 
	height:50px !important; 
	opacity:0.25; 
}


/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) { 

  .logo-wrapper {
    position: relative;
    
    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }  
  .menu-centered
  {
	  margin-top:3.5em;
  }
}

/* Properties for entire page */


/*  MAIN BOX SECTION */
#main_content_box{
	
	#main_left_box{
		background: 
		    linear-gradient(
		      rgba(255, 0, 0, 0.45), 
		      rgba(255, 0, 0, 0.45)
		    );	    	

		h1 { margin-top: 5em;}
		    div { 
			    text-align:left;
			    padding-left: 50px;
			    padding-right: 50px;
		    }
		}
	#main_right_box{
		background: 
		    linear-gradient(
		      rgba(100, 0, 0, 0.45), 
		      rgba(25, 0, 0, 0.45)
		    );	

		h1 { margin-top: 5em;}
		    div { 
			    text-align:left;
			    padding-left: 50px;
			    padding-right: 50px;
			    color: white;
		    }
		    .button { background-color: blue;}		
		}
}

/* INTEGRATION MODEL SECTION */

#integration_model {
	height: 30em;
	
}


#casestudy_section {

	
}

#latestposts_section {

	
}



