//  1) OWL POPUP
//  2) VIDEO JS
//  3) ANIMATIONS
//  4) HEADER
//  5) NAV BAR
@import "material-foundation";
@include motion-ui-transitions;
.no-js {
    padding-top: 7.2em;
}
/* font stuff */
a {
    font-family: "garamond-premier-pro",serif !important;
}
p {
    font-family: "garamond-premier-pro",serif !important;
}
h4 {
    font-family: "futura-pt",sans-serif !important;
}
h2 {
    font-family: "futura-pt",sans-serif !important;
    font-size: 50px !important;
}
h1 {
    font-family: "futura-pt",sans-serif !important;
    font-size: 50px !important;
}
div {
    font-family: "garamond-premier-pro",serif;
    line-height: 3rem !important;
}
/*  BEGIN SCG NAV BAR  */
.tabs .tabs-title a {
    color: black !important;
}
.tabs-title > a {
    display: block;
    padding: 1rem 1.5rem !important;
    background-color: transparent;
    h4 {
        margin-top: 1rem;
    }
}
.tabs-hover a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.tabs-hover a:hover {
    background-color: transparent !important;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

//    ANIMATIONS
//    video button animations
.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.8s ease;
}
.tabs {
    opacity: 0.2;
    margin-bottom: 0;
}
#nav_menu {
    .div {
        padding-top: 2em;
        padding-bottom: 0;
    }
}
.title-bar {
    padding-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 888;
    background: rgba(255, 255, 255, 0.4) !important;
    display: flex; //      justify-content: center;
    align-items: center;
}
.downloadtop .floating-action-accent-button {
    opacity: 1;
    margin-top: -2em;
}
.downloadbottom .floating-action-accent-button {
    opacity: 1;
    margin-bottom: -2em;
}
.column.row.row,
.row.row.columns {
    float: none;
    display: block;
    background: white;
}

#scg_navbar {
    div {
        padding-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 888;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(small) {
        //    margin-top: 2em;
            padding-bottom: 1.8em;
            -webkit-box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
            -moz-box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
            box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
        }
    }
    ul {
        background: rgba(255,255,255,.01);
        opacity: 1;
   	    margin-bottom: 2em;
    }
    .logonav a:hover {
        background-color: white !important;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.01);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.01);
    }
    .logonav img {
        width:12em;
        z-index:999;
    }
}
//  TOP SECTION
/*  MAIN BOX SECTION */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: -1;
}
#main_content_box {
    @include breakpoint(medium) {
        height: 50em;
        margin-top: 7.3em;
    }
    #main_left_box {
        .overlay {
            background: linear-gradient( rgba(167, 90, 50, .9), rgba(0, 0, 0, 0.8) );
        }
        &:hover .overlay {
            opacity: 0.75;
            // background: linear-gradient( rgba(167, 90, 50, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 3em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #A75A32;
            margin-bottom: 20px;
        }
        .blurb-left {
            margin-bottom: 30px;
        }
    }
    #main_right_box {
        .overlay {
            background: linear-gradient( rgba(75, 50, 124, .9), rgba(0, 0, 0, 0.8) );
        }
        &:hover .overlay {
            opacity: 0.75;
            // background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 3em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #4B327C;
            margin-bottom: 20px;
        }
        .blurb-right {
            margin-bottom: 30px;
        }
    }
    // BUTTON PULSE ANIMATIONS
    .hvr-back-pulse-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
        &:hover {
            -webkit-animation-name: hvr-back-pulse;
            animation-name: hvr-back-pulse;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            background-color: #4B327C;
            background-color: #4B327C;
            color: white;
        }
    }
    @-webkit-keyframes hvr-back-pulse-right {
        50% {
            background-color: rgba(167, 90, 50, 0.7);
        }
    }
    @keyframes hvr-back-pulse-right {
        50% {
            background-color: rgba(167, 90, 50, 0.7);
        }
    }
}
/* BLURB SECTION AT TOP OF HOME PAGE */
#blurb_section {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    height: 28em;
    padding-top: 7em;
    h2 {
        margin-top: 7em;
        color: white;
    }
}
/* INTEGRATION MODEL SECTION */
#integration_model_section {
    background: white;
    padding-top: 5em;
    padding-bottom: 5em;
    h2 {
        color: black;
        text-align: center;
    }
}
#our_clients_section {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: white;
    h2 {
        color: black;
    }
    .row {
        margin: 0 auto;
    }
    .client_logo {
        /*Some basic styling*/
        border: 1px solid #333;
        width: 60px;
        height: 60px;
        padding: 30px;
        text-align: center;
        margin: 10px auto;
        background: #29a7d3;
        color: white;
        border-radius: 50%;
        font-family: helvetica;
        p {
            color: white;
            font-weight: bold;
        }
    }
}
#case_study_section {
    z-index: 1;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: white;
    }
    background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
            border-radius: 20em;
        }
    }
}
#latest_posts_section {
    z-index: 1;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: white;
    }
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(167, 90, 50, 0.9) );
    background-color: $purple-900;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
            border-radius: 15em;
        }
    }
}
#learn_more_section {
    background: white;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: black;
        text-align: center;
    }
}
// footer CSS
.footer {
    background-color: black;
    padding: 2rem 4rem;
    text-align: center;
    i {
        font-size: 100px;
    }
    h4 {
        color: white;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 2.5rem;
        margin-bottom: 10px;
    }
    a,
    p {
        font-weight: 300;
        font-size: 0.8em;
        color: white;
    }
}
@media only screen and (min-width: 40.063em) {
    .footer {
        .columns:nth-child(n+2) {
            border-left: 1px solid scale-color(white, $lightness: -30%);
            min-height: 280px;
        }
    }
}
.footer-links {
    list-style-type: none;
    li {
        margin-top: 0.5em;
    }
}
//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////
$scg-purple: #4B327C;
$scg-orange: #A75A32;
$scg-green: #2F6653;
$scg-citrus: #C0BB4C;
.purple {
    color: $scg-purple;
}
.orange {
    color: $scg-orange;
}
.green {
    color: $scg-green;
}
.citrus {
    color: $scg-citrus;
}
/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px; // Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; // Leave alone
$logo-margin: - ($logo-width / 2); // TOP BAR
// Background color for the top bar
$topbar-bg-color: $scg-purple;
$topbar-bg: $topbar-bg-color; // Set the link colors and styles for top-level nav
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white; // Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source
// scss-lint:disable ColorVariable, QualifyingElement, VendorPrefix
////
/// @group global
////
/// Font size attribute applied to `<html>` and `<body>`. We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$global-font-size: 100% !default; /// Global width of your site. Used by the grid to determine row width.
/// @type Number
$global-width: rem-calc(960); /// Default line height for all type. `$global-lineheight` is 24px while `$global-font-size` is 16px
/// @type Number
$global-lineheight: 1.5 !default; /// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: ( primary: $grey-900, secondary: $yellow-500, success: $green-500, warning: $amber-500, alert: $red-500, ) !default; /// Color used for light gray UI items.
/// @type Color
$light-gray: $grey-50 !default; /// Color used for medium gray UI items.
/// @type Color
$medium-gray: $grey-200 !default; /// Color used for dark gray UI items.
/// @type Color
$dark-gray: $grey-500 !default; /// Color used for black ui items.
/// @type Color
$black: $black-87 !default; /// Color used for white ui items.
/// @type Color
$white: #fefefe !default; /// Background color of the body.
/// @type Color
$body-background: $grey-200 !default; /// Text color of the body.
/// @type Color
$body-font-color: $black !default; /// Font stack of the body.
/// @type List
// $body-font-family: Roboto, Noto, sans-serif !default;
/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$body-antialiased: true !default; /// Global value used for margin on components.
/// @type Number
$global-margin: 1rem !default; /// Global value used for padding on components.
/// @type Number
$global-padding: 1rem !default; /// Global font weight used for light type.
/// @type Keyword | Number
$global-weight-light: 300 !default; /// Global font weight used for normal type.
/// @type Keyword | Number
$global-weight-normal: 400 !default; /// Global font weight used for bold type.
/// @type Keyword | Number
$global-weight-bold: 500 !default; /// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: 2px !default; /// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction: ltr !default; /// Enables flexbox for components that support it.
/// @type Boolean
$global-flexbox: false !default;
