//  1) OWL POPUP
//  2) VIDEO JS
//  3) ANIMATIONS
//  4) HEADER
//  5) NAV BAR
@import "material-foundation";
@include motion-ui-transitions;

// navbar
/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }
}


//



//  TOP SECTION
#main_content_box {
    @include breakpoint(medium) {
        height: 50em;
    }
    .blurb {
      margin-bottom: 30px;
    }
    .h1 {
      margin-top: 3em;
      color: white;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: opacity 0.5s ease;
        opacity: 1;
        z-index: -1;
    }
    #main_left_box {
        .overlay {
            background: linear-gradient( rgba(167, 90, 50, .9), rgba(0, 0, 0, 0.8) );
        }
        &:hover .overlay {
            opacity: 0.75;
        }
        h1 {
            margin-top: 3em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }

    }
    #main_right_box {
        .overlay {
            background: linear-gradient( rgba(75, 50, 124, .9), rgba(0, 0, 0, 0.8) );
        }
        &:hover .overlay {
            opacity: 0.75;
        }
        h1 {
            margin-top: 3em;
            color: white;
        }
        div {
            text-align: left;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }

    }
}
/* BLURB SECTION AT TOP OF HOME PAGE */
#blurb_section {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    height: 28em;
    padding-top: 7em;
    h2 {
        margin-top: 7em;
    }
}
/* INTEGRATION MODEL SECTION */
#integration_model_section {
    background: white;
    padding-top: 25em;
    padding-bottom: 25em;
}
#our_clients_section {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: white;
    .row {
        margin: 0 auto;
    }
    .client_logo {
        /*Some basic styling*/
        border: 1px solid #333;
        width: 60px;
        height: 60px;
        padding: 30px;
        text-align: center;
        margin: 10px auto;
        background: #29a7d3;
        color: white;
        border-radius: 50%;
        font-family: helvetica;
        p {
            color: white;
            font-weight: bold;
        }
    }
}
#case_study_section {
    z-index: 1;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: white;
    }
    background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
    background-color: $purple-900;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
            border-radius: 20em;
        }
    }
}
#latest_posts_section {
    z-index: 1;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: white;
    }
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(167, 90, 50, 0.9) );
    background-color: $purple-900;
    .case_study_box {
        p {
            color: white;
            font-weight: bold;
            border-radius: 15em;
        }
    }
}
#learn_more_section {
    background: white;
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        color: black;
        text-align: center;
    }
}
// footer CSS
.footer {
    background-color: black;
    padding: 2rem 4rem;
    text-align: center;
    i {
        font-size: 100px;
    }
    h4 {
        color: white;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 2.5rem;
        margin-bottom: 10px;
    }
    a,
    p {
        font-weight: 300;
        font-size: 0.8em;
        color: white;
    }
}
@media only screen and (min-width: 40.063em) {
    .footer {
        .columns:nth-child(n+2) {
            border-left: 1px solid scale-color(white, $lightness: -30%);
            min-height: 280px;
        }
    }
}
.footer-links {
    list-style-type: none;
    li {
        margin-top: 0.5em;
    }
}

//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////
$scg-purple: #4B327C;
$scg-orange: #A75A32;
$scg-green: #2F6653;
$scg-citrus: #C0BB4C;
.purple {
    color: $scg-purple;
}
.orange {
    color: $scg-orange;
}
.green {
    color: $scg-green;
}
.citrus {
    color: $scg-citrus;
}
/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px; // Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; // Leave alone
$logo-margin: - ($logo-width / 2); // TOP BAR
// Background color for the top bar
$topbar-bg-color: $scg-purple;
$topbar-bg: $topbar-bg-color; // Set the link colors and styles for top-level nav
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white; // Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source
// scss-lint:disable ColorVariable, QualifyingElement, VendorPrefix
////
/// @group global
////
/// Font size attribute applied to `<html>` and `<body>`. We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$global-font-size: 100% !default; /// Global width of your site. Used by the grid to determine row width.
/// @type Number
$global-width: rem-calc(960); /// Default line height for all type. `$global-lineheight` is 24px while `$global-font-size` is 16px
/// @type Number
$global-lineheight: 1.5 !default; /// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: ( primary: $grey-900, secondary: $yellow-500, success: $green-500, warning: $amber-500, alert: $red-500, ) !default; /// Color used for light gray UI items.
/// @type Color
$light-gray: $grey-50 !default; /// Color used for medium gray UI items.
/// @type Color
$medium-gray: $grey-200 !default; /// Color used for dark gray UI items.
/// @type Color
$dark-gray: $grey-500 !default; /// Color used for black ui items.
/// @type Color
$black: $black-87 !default; /// Color used for white ui items.
/// @type Color
$white: #fefefe !default; /// Background color of the body.
/// @type Color
$body-background: $grey-200 !default; /// Text color of the body.
/// @type Color
$body-font-color: $black !default; /// Font stack of the body.
/// @type List
// $body-font-family: Roboto, Noto, sans-serif !default;
/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$body-antialiased: true !default; /// Global value used for margin on components.
/// @type Number
$global-margin: 1rem !default; /// Global value used for padding on components.
/// @type Number
$global-padding: 1rem !default; /// Global font weight used for light type.
/// @type Keyword | Number
$global-weight-light: 300 !default; /// Global font weight used for normal type.
/// @type Keyword | Number
$global-weight-normal: 400 !default; /// Global font weight used for bold type.
/// @type Keyword | Number
$global-weight-bold: 500 !default; /// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: 2px !default; /// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction: ltr !default; /// Enables flexbox for components that support it.
/// @type Boolean
$global-flexbox: false !default;
