//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////
// $scg-purple: #4B327C;
// $scg-orange: #A75A32;
// $scg-green: #2F6653;
// $scg-citrus: #C0BB4C;
// .purple {
//     color: $scg-purple;
// }
// .orange {
//     color: $scg-orange;
// }
// .green {
//     color: $scg-green;
// }
// .citrus {
//     color: $scg-citrus;
// }

@import "material-foundation";
// @include motion-ui-transitions;
.no-js {
    padding-top: 7.2em;
}
body { // for demo only
  background: #FAFAFA !important;
}
// .page-intro {
//     font-size: 1.125rem;
//     line-height: 1.6;
//     color: #777
// }
//
// .page-intro+.page-intro {
//     margin-top: -2rem
// }
//
// .page-intro a:not(.sites) {
//     color: #777
// }
//
// .page-intro a:not(.sites):hover {
//     color: #666
// }



// NAV BAR BEGIN
.tabs .tabs-title a {
}
.tabs-title > a {

    h4 {
        margin-top: 1rem;
    }
}

.tabs .tabs-title > a:hover {

    text-decoration: underline !important;
}
.tabs {
    // opacity: 0.2;
    // margin-bottom: 0;
}
#nav_menu {
    .div {
        padding-top: 2em;
    }
}
// .title-bar {
    // padding-top: 0;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 888;
    // background: rgba(255, 255, 255, 0.4) !important;
    // display: flex;
    // align-items: center;
// }


#scg_navbar_menu  {

    transition: all .6s ease;

}


// .our-work {

    // width: 100%;
    // position: relative;
    // height: 222px;
    // margin: 0 0 2rem;
    // text-align: center;
    // border: 1px solid #ddd;
    // transition: all 0.3s ease;
    // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.15);

// .button {
//
//     background-color: #A75A32;
//     margin-bottom: 20px;
//     color:white;
//     font-family: "futura-pt",sans-serif !important;
//
// }

// }

// .our-work:hover {
//     .our-work{ background-color:#fff !important;}
// }


// rounded
// .card2{
//
//   border-radius: 20px 0px 20px 0px !important;
//             -moz-border-radius: 10px 0px 10px 0px !important;
//             -webkit-border-radius: 15px 0px 15px 0px !important;
//
// }

// .post-text a {
//
// line-height:1em !important;
//
// }

// .card {
//
//   font-family: 'Roboto', sans-serif;
//   overflow: hidden !important;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
//   color: #272727 !important;
//   border-radius: 2px !important;
//   -webkit-transform: scale(1);
//   -moz-transform: scale(1);
//   transform: scale(1);
//   .title {
//     line-height: 3rem !important;
//     font-size: 1.5rem !important;
//     font-weight: 300 !important;
//   }
//   .content {
//     padding: 1.3rem !important;
//     font-weight: 300 !important;
//     border-radius: 0 0 2px 2px !important;
//   }
//   p {
//   margin: 0;
//   }
//   .action {
//     border-top: 1px solid rgba(160, 160, 160, 0.2) !important;
//     padding: 1.3rem !important;
//   }
//   a {
//
//     transition: color 0.3s ease;
//     text-decoration: none;
//   }
//   span {
//     color: $scg-purple;
//     text-transform: uppercase;
//   }
//   .image {
//     position: relative !important;
//     .title {
//       position: absolute !important;
//       bottom: 0 !important;
//       left: 0 !important;
//       padding: 1.3rem !important;
//       color: #fff !important;
//     }
//     img {
//       border-radius: 2px 2px 0 0;
//     }
//   }
// }
.card {
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}
.card:hover, .card.active {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2) !important;
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
}
.card:hover .circle-1,.card:hover .circle-2 {
	-webkit-transform: translateX(-50%)translateY(-50%)scale(0.1) !important;
	-moz-transform: translateX(-50%)translateY(-50%)scale(0.1) !important;
	transform: translateX(-50%)translateY(-50%)scale(0.1) !important;
	margin-top: 0 !important;

}

.card:hover .play {
	margin-top: 0 !important;
	opacity: 1 !important;
}

// .site-examples {
//     width: 100%;
//     position: relative;
//     height: 222px;
//     margin: 0 0 2rem;
//     text-align: center;
//     border: 1px solid #ddd;
//     transition: all 0.3s ease;
//     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//
//     .site-examples-icon-box {
//         position: relative;
//         top: 100px;
//         display: inline-block;
//         margin-bottom: 40px;
//         padding: 10px;
//         background: #fafafa;
//         transition: all 0.3s ease;
//     }
//     .site-examples-heading {
//         position: absolute;
//         bottom: 0px;
//         bottom:-1.6em;
//         height: 1.6em;
//
//         left: 1px;
//         width: 100%;
//         color: #fff;
//         // padding: 0.5rem 0;
//         z-index: 101;
//         margin-left: -1px;
//         margin-right: -1px;
//         margin-bottom:-.04em;
//         background-color: rgba(75, 50, 124, 0.8);
//         transition: all 0.3s ease;
//         font-size:1.2rem;
//       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//     }
//     .site-examples-description {
//         width: 80%;
//         margin: 0 auto;
//         opacity: 0;
//         transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//         -webkit-transform: scale(0);
//         -ms-transform: scale(0);
//         transform: scale(0);
//         transition: all 0.2s linear;
//
//     }
//     .site-examples-icon-box>img.site-examples-icon {
//         width: 40px;
//         transition: all 0.2s linear;
//     }
//
// }
// .site-examples:hover {
//     border-color: gray;
//
// }
//
// .site-examples:hover .site-examples-icon-box {
//     top: 30px;
//     transition: all 0.3s linear;
// }
//
// .site-examples:hover .site-examples-heading {
// transition: all 0.3s linear !important;
// bottom:40% !important;
//
// }



// .brand-list-header {
//     border-bottom: 1px solid #eee;
//     color: #eee;
//     font-weight: 600;
// }

// .brand-list {
//     background: #1d92cf;
//     width: 100%;
//     margin-bottom: 3rem;
//     padding: 2rem 0;
//     a {
//         white-space: nowrap;
//         color: #eee;
//         position: relative;
//         text-decoration: none;
//         line-height: 24px
//     }
//     a::before,
//     a::after {
//         content: '';
//         position: absolute;
//         transition: -webkit-transform .5s ease;
//         transition: all 0.2s linear;
//     }
//     a::before {
//         left: 0;
//         bottom: 0;
//         width: 100%;
//         height: 2px;
//         background: #eee;
//         -webkit-transform: scaleX(0);
//         -ms-transform: scaleX(0);
//         transform: scaleX(0)
//     }
//     a:hover::before {
//         -webkit-transform: scaleX(1);
//         -ms-transform: scaleX(1);
//         transform: scaleX(1)
//     }
// }
// .brand-list-logos {
//     display: block;
//     margin: 0 auto;
//     list-style-type: none
// }
//
// .brand-list-logos li {
//     padding-bottom: 0.4rem
// }
//
// .logo-leveler {
//     margin-top: 1rem
// }
//
// .logo-leveler-up {
//     margin-top: -1rem
// }
//
// .section-header {
//     margin-bottom: 3rem
// }
//
// .section-headlines {
//     text-align: center
// }
//
// .section-headlines .subheader {
//     margin-bottom: 3rem
// }

/* font stuff */
a {
    font-family: "futura-pt",sans-serif !important;
}
p {
    font-family: "futura-pt",sans-serif !important;
}
h1 {
    font-family: "futura-pt",sans-serif !important;
    font-size: 3em !important;
}
h2 {
    font-family: "futura-pt",sans-serif !important;
    font-size: 3em !important;
    margin-bottom:.55em !important;
    color: #2F6653 !important;
}

h5 {
    font-family: "futura-pt",sans-serif !important;
    font-size: 3em !important;
    color: #2F6653 !important;
}

h4 {
    font-family: "futura-pt",sans-serif !important;
}
div {
    font-family: "futura-pt",sans-serif;
    line-height: 3rem !important;


}
hr.dotted {
    border-style: dashed;
    margin: 2rem 0;
    border-bottom: 1px dotted #2F6653 !important;
    width:100%!important;
}






.menutext{

    transition: all .6s ease;

}

.menulogo{


    transition: all .6s ease;

}

.button {
    border-radius: 20px 0px 20px 0px !important;
    -moz-border-radius: 10px 0px 10px 0px !important;
    -webkit-border-radius: 15px 0px 15px 0px !important;
}


// .maxwidth {
//
// max-width:1400px;
//
// }

.marginbottom{

margin-bottom:2em !important;

}


.marginbottom1{

margin-bottom:1em !important;

}

#scg_navbar {


    div {
        padding-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 888;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(small) {
            padding-bottom: 1.2em;
            -webkit-box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
            -moz-box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
            box-shadow: 0 -16px 146px -1px rgba(0,0,0,0.8);
        }
    }
    ul {
        background: rgba(255,255,255,.01);
        opacity: 1;
       margin-bottom:3em;
       margin-bottom:3em;
        margin-right: 4rem;
    }
    ul li a {
      // text-transform: lowercase;
        }
    // .logonav a:hover {
    //     transition: all 0.2s ease-in-out;
    // }
    // .logonav img {
    //     width:14em;
    //     z-index:999;
    // }
}
//  TOP SECTION
/*  MAIN BOX SECTION */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: -1;
}
#main_content_box {
    @include breakpoint(medium) {
        height: 50em;
        margin-top: 7.3em;
    }
    #main_left_box {
        .overlay {
            background: linear-gradient( rgba(167, 90, 50, .9), rgba(0, 0, 0, 0.8) );
        }
        &:hover .overlay {
            opacity: 0.75;
            // background: linear-gradient( rgba(167, 90, 50, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 2em !important;
            color: white;
        }
        div {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #A75A32;
            margin-bottom: 20px;
            color:white;
            font-family: "futura-pt",sans-serif !important;
        }
        .blurb-left {
            margin-bottom: 30px;
            line-height: 2.2em !important;
            font-size: 1.5em !important;
        }

    }




    #main_right_box {
        .overlay {
            background: linear-gradient( rgba(75, 50, 124, .9), rgba(0, 0, 0, 0.8) );
        }
        .overlaypurple {
            background-color: #4B327C;
        }
        &:hover .overlay {
            opacity: 0.75;
            // background: linear-gradient( rgba(75, 50, 124, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 2em;
            color: white;
        }
        div {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #4B327C;
            margin-bottom: 20px;
            color:white;
            font-family: "futura-pt",sans-serif !important;
        }
        .blurb-right {
            margin-bottom: 30px;
            line-height: 2.2em !important;
            font-size: 1.5em !important;
        }

    }

    #casestudy {
        .overlay {
            background: linear-gradient( rgba(167, 90, 50, .3), rgba(0, 0, 0, 0.3) );
        }
        &:hover .overlay {
            opacity: 0.4;
            // background: linear-gradient( rgba(167, 90, 50, 0.9), rgba(0, 0, 0, 0.45) );
        }
        h1 {
            margin-top: 2em;
            color: white;
        }
        div {
            text-align: center;
            // padding-left: 50px;
            // padding-right: 50px;
            color: white;
        }
        .raised-accent-button {
            background-color: #4B327C;
            margin-bottom: 20px;
            color:white;
            font-family: "futura-pt",sans-serif !important;
        }
        .blurb-right {
            margin-bottom: 30px;
            line-height: 2.2em !important;
            font-size: 1.5em !important;
        }

    }

}

/* BLURB SECTION AT TOP OF HOME PAGE */
#blurb_section {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) );
    height: 28em;
    padding-top: 7em;
    h2 {
        margin-top: 7em;
        color: white;
    }
}
/* INTEGRATION MODEL SECTION */
#integration_model_section {
    padding-top: 0em;
    padding-bottom: 5em;
    h2 {
        color: black;
        text-align: center;
    }
}
#logos {
    padding-top: 1em;
    padding-bottom: 4em;
    background-color: white;
    h2{
        margin-bottom:2em;
    }
    .row {
        margin: 0 auto;
    }
    .client_logo {
        /*Some basic styling*/
        border: 1px solid #333;
        width: 60px;
        height: 60px;
        padding: 30px;
        text-align: center;
        margin: 10px auto;
        background: #29a7d3;
        color: white;
        border-radius: 50%;
        font-family: helvetica;
        p {
            color: white;
            font-weight: bold;
        }
    }
}

#blog {
    z-index: 1;
    padding-top: 4em;
    padding-bottom: 4em;


}
#learn_more_section {
    padding-top: 2em;
    padding-bottom: 2em;
    h2 {
        color: black;
        text-align: center;
    }
}
// footer CSS
.footer {
    background-color: black;
    padding: 2rem 4rem;
    text-align: center;
    i {
        font-size: 100px;
    }
    h4 {
        color: white;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 2.5rem;
        margin-bottom: 10px;
    }
    a,
    p {
        font-weight: 300;
        font-size: 0.8em;
        color: white;
    }
}

.footer-links {
    list-style-type: none;
    li {
        margin-top: 0.5em;
    }
}

.project {
    background-color:#f6f5f1;


    h2 {
        font-family: "futura-pt",sans-serif !important;
        font-size: 2em !important;
        color: #2F6653 !important;
    }

}
/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px; // Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; // Leave alone
$logo-margin: - ($logo-width / 2); // TOP BAR
// Background color for the top bar
$topbar-bg-color: $scg-purple;
$topbar-bg: $topbar-bg-color; // Set the link colors and styles for top-level nav
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white; // Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source
// scss-lint:disable ColorVariable, QualifyingElement, VendorPrefix
////
/// @group global
////
/// Font size attribute applied to `<html>` and `<body>`. We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$global-font-size: 100% !default; /// Global width of your site. Used by the grid to determine row width.
/// @type Number
$global-width: rem-calc(960); /// Default line height for all type. `$global-lineheight` is 24px while `$global-font-size` is 16px
/// @type Number
$global-lineheight: 1.5 !default; /// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: ( primary: $grey-900, secondary: $yellow-500, success: $green-500, warning: $amber-500, alert: $red-500, ) !default; /// Color used for light gray UI items.
/// @type Color
$light-gray: $grey-50 !default; /// Color used for medium gray UI items.
/// @type Color
$medium-gray: $grey-200 !default; /// Color used for dark gray UI items.
/// @type Color
$dark-gray: $grey-500 !default; /// Color used for black ui items.
/// @type Color
$black: $black-87 !default; /// Color used for white ui items.
/// @type Color
$white: #fefefe !default; /// Background color of the body.
/// @type Color
$body-background: $grey-200 !default; /// Text color of the body.
/// @type Color
$body-font-color: $black !default; /// Font stack of the body.
/// @type List
// $body-font-family: Roboto, Noto, sans-serif !default;
/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$body-antialiased: true !default; /// Global value used for margin on components.
/// @type Number
$global-margin: 1rem !default; /// Global value used for padding on components.
/// @type Number
$global-padding: 1rem !default; /// Global font weight used for light type.
/// @type Keyword | Number
$global-weight-light: 300 !default; /// Global font weight used for normal type.
/// @type Keyword | Number
$global-weight-normal: 400 !default; /// Global font weight used for bold type.
/// @type Keyword | Number
$global-weight-bold: 500 !default; /// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: 2px !default; /// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction: ltr !default; /// Enables flexbox for components that support it.
/// @type Boolean
$global-flexbox: false !default;
